* {
  border: none;
  border-radius: 0;
  font-family: "GeistMono Nerd Font Mono";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #cdd6f4;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0;
}

#workspaces,
#clock,
#group-system,
#custom-power-profile,
#network,
#pulseaudio,
#battery,
#tray,
#custom-power {
  background: rgba(30, 30, 46, 0.30);
  color: #cdd6f4;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 3px;
  border: 1px solid rgba(203, 166, 247, 0.18);
}

#group-system {
  padding: 0 6px;
}

#group-system #network,
#group-system #pulseaudio,
#group-system #custom-power,
#group-system #tray {
  background: transparent;
  border-radius: 8px;
  min-width: 86px;
  font-size: 16px;
  padding: 0 14px;
  margin: 0 2px;
}

#group-system #network,
#group-system #pulseaudio,
#group-system #tray,
#custom-power-profile,
#battery,
#custom-power {
  padding-left: 0;
  padding-right: 0;
}

#custom-power-profile,
#battery,
#custom-power {
  min-width: 86px;
}

#custom-power-profile {
  min-width: 44px;
  padding: 0;
}

#workspaces {
  padding: 0 4px;
}

#clock {
  min-width: 220px;
  padding: 0 14px;
  font-weight: 600;
}

#workspaces button {
  color: #a6adc8;
  padding: 0 8px;
  margin: 4px 2px;
  border-radius: 8px;
}

#workspaces button.active {
  background: rgba(0, 0, 0, 0.22);
  color: #cba6f7;
  border: none;
  font-weight: 700;
}

#workspaces button:hover {
  background: rgba(203, 166, 247, 0.18);
  color: #cdd6f4;
}

#custom-power {
  color: #f38ba8;
  min-width: 44px;
  font-size: 16px;
  padding: 0 8px;
}

#custom-power-profile.performance {
  color: #f9e2af;
}

#custom-power-profile.balanced {
  color: #cdd6f4;
}

#custom-power-profile.power-saver {
  color: #a6e3a1;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
}
